*.tgz
.DS_Store
bin/blobcache
bin/throughput
bin/fs
bin/testclient
bin/basic
build.sh
tmp/
config.yaml
config2.yaml
config3.yaml
e2e/throughput/testdata/*.bin
e2e/fs/testdata/*.bin
daemonset.yaml
output.bin
.go-version