apiVersion: apps/v1
kind: Deployment
metadata:
  name: blobcache
spec:
  replicas: 1
  selector:
    matchLabels:
      app: blobcache
  template:
    metadata:
      labels:
        app: blobcache
    spec:
      hostNetwork: true
      containers:
      - name: blobcache
        image: registry.localhost:5000/blobcache:latest
        securityContext:
          privileged: true
      dnsPolicy: ClusterFirstWithHostNet
---
apiVersion: v1
kind: Service
metadata:
  name: blobcache
spec:
  selector:
    app: blobcache
  ports:
  - name: nfs
    port: 2049
    targetPort: 2049
    protocol: TCP
  type: ClusterIP